@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;
}

body {
  background-color: #0f1014;
}

.banner-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/slide5.png);
  background-size: cover;
  background-attachment: fixed;
  transition: 0.5s;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 30%,
    transparent
  );
}

.movie-title {
  max-width: 500px;
}

.sidebar {
  position: fixed;
  background: linear-gradient(to right, black 10%, transparent);
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  transition: width 0.5s ease;
  overflow: hidden;
  z-index: 9999999;
}

.sidebar:hover {
  width: 200px;
}

.body-content {
  margin-left: 100.5px;
  margin-top: -400px;
}

.list-item {
  list-style: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.sidebar:hover .list-item {
  opacity: 1;
}

.list-item ul li {
  list-style: none;
  margin: 20px 0px;
  padding: 10px 0px;
}

.list-item ul li a {
  text-decoration: none;
  color: white;
}

.list-item ul li a i {
  margin-right: 10px;
}

.list-item ul li a span {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.sidebar:hover .list-item ul li a span {
  opacity: 1;
}

.main-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px 20px;
  height: 300px;
  width: 40%;
}

.main-content .content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 30px;
}

.main-content .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.main-content .content h4 span:first-child {
  padding-left: 0;
}

.main-content .content h4 span:last-child {
  border-right: none;
}

.main-content .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: white;
  margin: 10px 0 20px;
}

.main-content .content h4 span i {
  background: var(--primary);
  color: white;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.main-content .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: white;
  margin: 10px 0 20px;
}

.main-content .content .button {
  position: relative;
  display: flex;
  align-items: center;
}

.main-content .content .button a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #3f4043;
  color: white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.main-content .content .button a:nth-child(1) {
  width: 50vh;
  height: 5vh;
  line-height: 5vh;
}

.main-content .content .button a:nth-child(2) {
  height: 5vh;
  width: 5vh;
  line-height: 5vh;
  border: 1px solid var(--primary);
}

.main-content .content .button a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.main-content .content .button a:hover:nth-child(2) {
  background: var(--primary);
}

.scroll-container {
  position: relative;
  margin: 20px 0px;
}

#scroll-left,
#scroll-right {
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 99999;
  text-align: center;
  height: 320px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#scroll-left {
  left: 0;
  background: linear-gradient(to right, black 5%, transparent);
}

#scroll-right {
  right: 0;
  background: linear-gradient(to left, black 5%, transparent);
}

.card-container {
  position: relative;
  padding: 40px 0px;
  display: grid;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(15, 1fr);
}

.card {
  position: relative;
  width: 230px;
  height: 320px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-hover {
  position: absolute;
  width: 260px;
  background-color: #16181f;
  border-radius: 5px;
  z-index: 999;
  height: 320px;
  max-height: 330px;
  opacity: 0;
  top: 0;
  transition: all 0.3s ease;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9999;
}

.card:hover .card-hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
  transition-delay: 0.6s;
  transform-origin: center;
  opacity: 1;
  z-index: 9999;
}

.card:hover:first-child .card-hover {
  transform-origin: left center;
}

.card:hover:nth-last-child() .card-hover {
  transform-origin: right center;
}

.card-hover img {
  width: 100%;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    transparent
  );
}

.card-hover .card-description {
  transform: translateY(-50px);
  padding: 0px 10px;
}

.card-description .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.card-description .button a {
  background: white;
  color: #0f1014;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.button .fa-play {
  margin-right: 10px;
}

.card-description .button a:nth-child(1) {
  width: 200px;
  height: 35px;
  line-height: 4vh;
  font-size: 15px;
}

.card-description .button a:nth-child(2) {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 4vh;
  border: 1px solid var(--primary);
  background-color: #bababc;
  color: white;
}

.description-text {
  color: white;
  line-height: 1.5em;
  margin: 15px 0px;
}

.description-text span {
  color: #bababc;
  font-size: x-small;
  border-right: 1px solid #bababc;
  margin: 0px 5px 10px 0px;
  padding-right: 5px;
  font-weight: bold;
}

.description-text p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5em;
  color: #bababc;
  margin: 10px 0 20px;
}

.tab-control {
  margin-top: 100px;
  border-bottom: 3px solid #16181f;
  padding-bottom: 50px;
}

.tab-control a {
  margin-right: 80px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.trailer h1 {
  color: #fff;
}

.trailer img {
  width: 500px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  color: white;
  margin-bottom: 20px;
}

footer p,
span,
i {
  color: white;
  font-weight: 200;
  margin-bottom: 10px;
}

.language i {
  margin-right: 10px;
  margin-top: 5px;
}

.language .wrapper {
  display: flex;
}

.social a {
  margin-right: 10px;
}

.list-episode{
  margin-top: 50px;
}

.episode{
  display: flex;
  width: 60%;
  padding: 15px;
  margin: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.episode:hover{
  background-color: #16181f;
}

.episode .description{
  color: #fff;
  margin-left: 20px;
  width: 90%;
}

.description h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px
}

.description h3{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 5px
}

.description p{
  color: #969286;
  font-size: 15px;
}

.episode img{
  border-radius: 5px;
  width: 12vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
